# Archivos y carpetas de Caché de Python
**/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Caché de Pytest
.pytest_cache/
**/.pytest_cache/

# Reportes y Logs
*.log
logs/
report.html
reporte.html
*.html

# Capturas de pantalla
*.png
screenshot_*.png

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Sistema operativo
.DS_Store
Thumbs.db